<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czw.server.module.mapper.AnimeZoneMapper">
    <insert id="insertAnimeZone">
        insert into anime_zone(uuid, zone_name) value (#{uuid}, #{zone_name})
    </insert>

    <update id="updateAnimeZone">
        update anime_zone
        set uuid=#{uuid},
            zone_name=#{zone_name}
        where id = #{id}
    </update>

    <delete id="deleteAnimeZone">
        delete
        from anime_zone
        where id = #{id}
    </delete>

    <select id="showAnimeZone" resultType="com.czw.server.module.response.ShowAnimeZoneResponse">
        select *
        from anime_zone
    </select>
</mapper>