<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czw.server.mapper.AnimeZoneMapper">
    <insert id="insertAnimeZone">
        insert into anime_zone(uuid, zone_name) value (#{uuid}, #{zone_name})
    </insert>

    <select id="showAnimeZone" resultType="com.czw.server.response.ShowAnimeZoneResponse">
        select *
        from anime_zone
    </select>
</mapper>