<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czw.server.module.mapper.AnimeInfoMapper">
    <insert id="insertAnimeInfo">
        insert into anime_info(UUID, ANIME_NAME, ANIME_TYPE, ANIME_DESCRIBE, ALIAS, ANIME_ZONE, ANIME_YEAR, ANIME_TAG,
                               INDEXES, UPDATE_INFO, COVERIMG_SRC) VALUE
            (#{UUID}, #{anime_name}, #{anime_type}, #{anime_describe}, #{alias}, #{anime_zone}, #{anime_year},
             #{anime_tag}, #{indexes}, #{update_info}, #{coverimg_src})
    </insert>
    <update id="updateAnimeInfo">
        update anime_info
        set UUID           =#{uuid},
            anime_name=#{anime_name},
            ANIME_TYPE     = #{anime_type},
            ANIME_DESCRIBE = #{anime_describe},
            ALIAS          = #{alias},
            ANIME_ZONE     = #{anime_zone},
            ANIME_YEAR= #{anime_year},
            ANIME_TAG      = #{anime_tag},
            INDEXES=#{indexes},
            UPDATE_INFO=#{update_info},
            COVERIMG_SRC=#{coverimg_src}
        where id = #{id}
    </update>
    <delete id="deleteAnimeInfo">
        delete
        from anime_info
        where id = #{id}
    </delete>

    <select id="showAnimeInfo" resultType="com.czw.server.module.response.ShowAnimeInfoResponse">
        select *
        from anime_info
    </select>
    <select id="selectAnimeInfoByAttribute"
            resultType="com.czw.server.module.response.SelectAnimeInfoByAttributeResponse">
        select *
        from anime_info
        where anime_tag like CONCAT('%', #{anime_tag}, '%')
          and anime_zone like CONCAT('%', #{anime_zone}, '%')
          and anime_type like CONCAT('%', #{anime_type}, '%')
        limit #{pageIndex},#{page_capacity}
    </select>
    <select id="selectAnimeInfoByName" resultType="com.czw.server.module.response.SelectAnimeInfoByAttributeResponse">
        select *
        from anime_info
        where anime_name like CONCAT('%', #{searchContent}, '%')
           or alias like CONCAT('%', #{searchContent}, '%')
        limit #{pageIndex},#{page_capacity}
    </select>
    <select id="getAnimeInfoCountByAttribute" resultType="java.lang.Integer">
        select count(*)
        from anime_info
        where anime_tag like CONCAT('%', #{anime_tag}, '%')
          and anime_zone like CONCAT('%', #{anime_zone}, '%')
          and anime_type like CONCAT('%', #{anime_type}, '%')
    </select>
    <select id="getAnimeInfoCountByName" resultType="java.lang.Integer">
        select count(*)
        from anime_info
        where anime_name like CONCAT('%', #{searchContent}, '%')
           or alias like CONCAT('%', #{searchContent}, '%')
    </select>
</mapper>